#container {
	margin: auto;
	width: 400px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000033;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	background-color: #FFFFFF;
}
#container #header #header_left {
	float: left;
	background-image: url(images/header_left.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 45px;
}
#container #header #header_right {
	background-image: url(images/header_right.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 6px;
	float: right;
}
body {
	padding-top: 30px;
	background-color: #CCCCCC;
}
#container #content {
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}
#container #footer {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#container #footer a {
	color: #999999;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#container #header #header_main {
	float: left;
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.sbtn    {
	background-image: url(images/button.gif);
	border: 1px solid #000033;
	height: 22px;
	width: 82px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-position: center;
	padding: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
button {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 22px;
	width: 82px;
	background-image: url(images/button.gif);
}
#container #content #form1 legend {
	padding: 5px;
	margin: auto;
}
form {
	margin: 10px 5px 0px 5px;
}




#container #header {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(images/header_bg.gif);
	background-repeat: repeat-x;
	height: 42px;
}
label {
	padding: 0px;
	text-align: center;
}

.msg {
	text-align:left;
 	color:#666;
	background-repeat: no-repeat;
 	margin-left:30px;
   margin-right:30px;
	padding:5px;
   padding-left:30px;
}

.emsg {
	text-align:left;
	margin-left:30px;
   margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
   padding-left:30px;
}

#loader{
   visibility:hidden;
}

#f1_upload_form{
   height:100px;
}

#f1_error{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#FF0000;
}

#f1_ok{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#00FF00;

}

#f1_upload_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_upload_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
   width:400px;
}

.mobile, .mobile-form{
    display:none;
}

html,body{
    background-color:#fff;
    width:100%;
    overflow-x:hidden;
    font-family:"Arial",sans-serif;
}
#pager{
    padding:20px 0 40px 0;
}
form{
    background-color:#eae6e5;
    border-radius:20px;
    border:2px solid #cfdda8;
    padding:20px;
    color:#005880;
    font-size:12px;
    margin:0;
    padding-bottom:80px;
    min-height:500px;
}
table{
    font-family:"Arial",sans-serif;
    color:#005880;
    font-size:12px;
}
form div{
    padding-bottom:8px;
}
.content-left, .content-right{
    width:450px;
    float:left;
    vertical-align:top;
    padding-top:100px;
}

.content-right{
    float:none;
    width:auto;
    padding-left:555px;
    padding-right:10px;
}
.content-left{
    position:relative;
    z-index:101;
    padding-left:105px;
}
#content-head{
    width:100px;
    vertical-align:top;
    float:left;
    position:relative;
}

#content-head-logo-text{
    position:absolute;
    right:-160px;
    top:5px;
}
#content-head-logo{
    text-align:center;
    padding-left:2px;
    position:absolute;
    right:-25px;
}
#content-head-strip{
    text-align:center;
}
.content-right-inner{
    width:100%;
    padding-top:25px;
}
.bottom, .top{
    position:absolute;
    width:100%;
    z-index:1;
    top:0;
    left:0;
}
.top{z-index:10; display:none}
.section{
    padding:10px;
    border:2px solid #cfdda8;
    background-color:#eae6e5;
    font-size:14px;
    cursor:pointer;
    border-radius:3px;
    color:#005880;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-right:0;
    margin-bottom:5px;
}
.section-child{
    padding:5px 5px 5px 20px;
    font-size:12px;
    cursor:pointer;
    position:relative;
    height:30px;
    padding-bottom:0;
    padding-top:0;
}
.section-child span{
    padding-left:10px;
    position:absolute;
    margin-top:10px;
    color:#005880;
}
.bar i{
    font-size:72px;
    color:#cfdda8;
    position:absolute;
    right:-22px;
    top:-15px;
    padding:0;
    margin:0;
    display:none;
}
.bar.showArrow i{
    display:inline;
}
.bar{
    position:relative;
    margin-top:-15px;
    padding-bottom:1px;
}
#blue-strip{
    width:300px;
    position:absolute;
    right:0px;
    top:90px;
    height:33px;
    color:#fff;
    background-color:#005880;
}
#blue-strip img{
    position:absolute;
    left:-50px;
    top:0;
}
#blue-strip span{
    position:absolute;
    top:6px;
    left:50px;
}
#blue-strip span span{
    font-weight:100;
    font-style:italic;
    position:relative;
    top:0;
    left:0;
    font-size:14px;
}
#accordion{
    padding-top:50px;
    border-bottom:1px solid #eee;
}
.submitButton {
    background-color:#cfdda8;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #cfdda8;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:100;
    font-style:normal;
    height:30px;
    line-height:20px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px -21px 0px #cc9f52;
    cursor:pointer;
}

.button button{
    background-color:#005880;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:none;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:100;
    font-style:normal;
    line-height:20px;
    text-decoration:none;
    text-align:center;
    text-shadow:none;
    cursor:pointer;
    font-size:12px;
    background-image:none;
}

.input_submitButton{
    position:relative;
}

.submitButton{
    position:absolute;
    right:-20px;
    top:25px;
    width:120px;
}

.input_submitButton i{
    font-size:50px;
    color:#cfdda8;
    position:absolute;
    right:98px;
    top:16px;
    padding:0;
    margin:0;
}

input[type="text"], input[type="password"]{
    width:50%;
}
textarea{
    width:95%;
    height:90px;
}
a, div, p{
    outline:0;
}

.ratioCircle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    overflow:hidden;
    border:1px solid #ccc;
    position:relative;
}
.ratio{
    background-color:#cfdda8;
    width:100%;
    height:50%;
    position:absolute;
    bottom:0;
}

.ratioBar{
    width:10px;
    height:20px;
    position:absolute;
    left:7px;
    top:0;
}
.upperBar{
    width:100%;
    height:50%;
}
.upperBarHalf{
    width:50%;
    height:100%;
    border-right:1px solid #ccc;
}

.ui-accordion-content{
    margin-top:-8px;
}

.form-heading{
    font-size:18px;
    font-weight:bold;
    padding-bottom:0px;
    padding-top:0;
    margin-top:10px;
}
#student-rec{
    padding:5px 10px;
    color:#005880;
    font-weight:900;
    font-size:14px;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:-40px;
}
#student-rec span{
    font-weight:100;
    font-style:italic;
}
#first-form{
    margin-top:20px;
    margin-left:20px;
    min-height:80px;
}
/*responsive*/
@media screen and (max-width: 1024px) {
    form input[type="text"], form input[type="password"]{
        width:100%;
    }
}


@media screen and (max-width: 768px) {
    .desktop {
        display:none;
    }
    .mobile{
        display:inline !important;
    }
    #content-head{
        width:0;
    }
    #content-head-logo-text img{
        width:80px;
    }
    #content-head-logo-text{
        right:-310px;
        top:0;
    }
    .content-left, .content-right{
        display:block;
    }
    .content-left{
        width:100%;
        padding-top:75px;
        padding-left:0;
    }
    .content-right{
        display:none;
    }
    #accordion{
        padding:5px;
        paddin-top:0px;

    }
    .section{
        border-bottom-right-radius:4px;
        border-top-right-radius:4px;
        border-right:2px solid #cfdda8;
    }
    .bar i{
        display:none !important;
    }

    form{
        border-radius:6px;
        margin:0;
        min-height:10px;
    }

    form input[type="text"], form input[type="password"]{
        width:100%;
    }

    #first-form{
        margin:0;
    }
    #first-form-parent{
        padding:0 10px;
    }
    #student-rec{
        margin:0;
        margin-left:10px;
        padding:0;
    }
}